<ion-view view-title="Finder">
	<ion-content>
		<!-- Instructions -->
		<ion-scroll zooming="true" direction="y" style="width: 100%; height:90%;">
			<div class="list list-inset card">
				<div class="item item-divider">For best results:</div>
				<div class="item"><i class="icon ion-checkmark-round"></i> Ensure good lighting conditions</div>
				<div class="item"><i class="icon ion-checkmark-round"></i> Focus on the object</div>
				<div class="item"><i class="icon ion-checkmark-round"></i> Frame the shot to have no<br>distracting objects in the background</div>
				<div class="item"><i class="icon ion-checkmark-round"></i> Hold the phone steady</div>
			</div>
		</ion-scroll>
	</ion-content>

	<ion-footer-bar style="margin-bottom: 10px;">
		<div class="button-bar">
			<a class="button button-large button-full icon-left ion-camera" href="#/mock-camera">Camera</a>
			<a class="button button-large button-full icon-left ion-images" href="#/mock-gallery">Gallery</a>
		</div>
	</ion-footer-bar>
</ion-view>
