a {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	font-weight: bold;
}

a:visited {
	color: teal;
}

.error_text {
	color : #FF0000;
	font-weight: bold;
}

body {
	font-family: Helvetica, sans-serif;
	/*overflow: hidden;*/
}

/* the three frames on the screen */
.frame {
	padding: 7px;
	margin: 10px;
	border-width: 2px;
	border-color: #AAA;
	
	background: #EEE;
	
	/*box-shadow: 0px 0px 8px #5078BE;
	-moz-box-shadow: 10px, 10px, 3px, teal;
	-webkit-box-shadow: 10px, 10px, 3px, teal;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;*/
}

#code_frame {
	height: 600px;
}

.code_input {
	width: 500px;
	/*height: 600px;*/
	resize: none;
	overflow-y: scroll;

	font-family: monospace, sans-serif;
	font-size: 0.7em;
	text-align: left;
	
	background: #DDD;
}

#code_textarea {
	float: left;
}

#code_div {
	float: left;
}

.code_input .op > span {
	font-weight: normal;
	color: #CF4A21;
}

.code_input .reg > span {
	font-weight: normal;
	color: #0B510B;
}

.code_input .flag > span {
	font-weight: normal;
	color: #071418;
}

.code_input .label > span {
	font-weight: normal;
	color: #3A2F0B;
}

.code_input .error > span {
	font-weight: bold;
	color: #DF5A5A;
}

.code_input .fetch > span {
	background: #AEA;
}

.code_input .execute > span {
	background: #EAA;
}

#header {
	font-weight: bold;
	font-size: large;
}
