<h1>Human factors</h1>

<h2>Lecture 1</h2>

<p>Dumb phone to smartphone</p>

<ul>
<li>more featues</li>
<li>unified app system</li>
<li>started as prestice device / status symbol</li>
<li>'natural' interface</li>
<li>discoverable, exploration</li>
<li>wifi, mobile internet connectivity</li>
<li>more feature complete browser (closer to desktop)</li>
<li>touch/mouse interface for more complex UI</li>
<li>first successful handheld computer (tried before, see IBM Simon Phone)</li>
</ul>

<p>Reasons for studying/applying HCI:</p>

<ul>
<li>useful - accomplishes useful goal</li>
<li>usable - safe to use</li>
<li>used - chance for market share</li>
</ul>

<p>Combines psychology with the design of technology
draws for many disciplines</p>

<h3>Usability</h3>

<p>The system may work correctly but the interface is important too.
Human error may be caused by the interface.
Systems may be broken by design.
Users think of the interface <em>as the system</em>.</p>

<p>examples of bad user experiences:</p>

<ul>
<li>it's hard to tell how to accomplish a certain task.</li>
<li>it's easy to make the same error repeatedly.</li>
<li>easy to lose work, commit grave mistake.</li>
<li>system does somting annoying automatically (defaults, etc).</li>
<li>aesthetics.</li>
</ul>

<p>UI/UX is an integral part of the system, not something bolted on at the end.</p>

<p>Goals:</p>

<ul>
<li>effective to use</li>
<li>efficient to use</li>
<li>safe to use</li>
<li>easy to learn</li>
<li>easy to retain knowledge of</li>
</ul>

<h3>Interaction design</h3>

<p>must take into account:</p>

<ul>
<li>target audience (knowledge, skills)</li>
<li>activities carried out (how the system is used)</li>
<li>what environment the interaction takes place (where the system is used)</li>
</ul>

<p>interactions must be optimized to matc hthe users' activities and needs.</p>

<p>example: CLI may efficient to use but hard to learn and retain.</p>

<h3>Factors affecting design</h3>

<p>Human:</p>

<ul>
<li>physical capabilities</li>
<li>cognitive capabilities</li>
<li>social, cultural influences</li>
<li>cognitive load allowence (stressful environment)</li>
<li>other users</li>
</ul>

<p>Environmental factors:</p>

<ul>
<li>ligthing</li>
<li>noise</li>
<li>time pressure</li>
<li>need for sterilized equipment</li>
</ul>

<h3>Users</h3>

<p>Skills, knowledge, education, role vary quite a lot.
Consider frequency of use.
Consider what task/reponsibilities to other peole (expert/admin vs client user)</p>

<h3>Understanding users' needs</h3>

<p>(see chaos reports for failures of the '80s)</p>

<ul>
<li>consider what people and good and bad at, </li>
<li>the way they currently do things, </li>
<li>listen to opinions</li>
<li>use tried and tested user-based methods.</li>
</ul>

<p>users must be involved (thought of) during development, as systems are necessarily used in order to be successful.</p>

<p>needless features may be implemented.</p>

<p>Fitts' listed in 1951 the things humans are better at than machines (outdated somewhat). Of note, humans are better at flexible procedures, reason inductively and exercise judgement/ethics. Also listed are the opposite, of note precision, repetition, speed, cognitive load due to storage, lack of error (sans programming errors).</p>

<h3>Reading</h3>

<p>(main one) Interaction Design 3rd/4th, Rogers, Sharp, Preece
HCI 3rd, Finlay, Abowd, Beale
Designing Interactive System 2nd, Benion
Sketching used experiences, Buxton</p>
